<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- For user -->
    <ul class="navbar-nav mr-auto" *ngIf="_authService.isUserLoggedIn()">
      <li class="nav-item active">
        <a class="nav-link" href="/homeUser">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Reserved Books</a>
          <a class="dropdown-item" href="#">Borrowed Books</a>
        </div>
      </li>
    </ul>

    <!-- For admin -->
    <ul class="navbar-nav mr-auto" *ngIf="_authService.isAdminLoggedIn()">
      <li class="nav-item active">
        <a class="nav-link" href="/homeAdmin">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/addBook">Add Books</a>
          <a class="dropdown-item" href="/reservedBooks">Reserved Books</a>
          <a class="dropdown-item" href="/borrowedBooks">Borrowed Books</a>
        </div>
      </li>
    </ul>

    <!-- Auth buttons -->
    <ul class="navbar-nav">
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
        <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>        
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>           
